<?xml version="1.0" encoding="utf-8"?>
<configuration>
<appSettings>
		<add key="history" value="false"/> <!-- set to true to get history.csv-->
		<add key="Interval" value="10"/>
		<add key="Cex.io.geturl" value="https://cex.io/api/"/>
		<add key="Cex.io.key" value="L4KBLGP2nXO9QxTSxclTPcbaI"/>
		<add key="Cex.io.secret" value="f4IzjRfMNVxYTPvhBzwke8D77c"/>
		<add key="Cex.io.Pair" value="ETH/BTC"/>
		
		<add key="BitFinex.geturl" value="https://api.bitfinex.com"/>
		<add key="BitFinex.posturl" value="https://api.bitfinex.com"/>
        <add key="BitFinex.key" value="VPXIhNTVjbsyFPU4sbPsEXKQyzNjc3bLAOw5D1gPI7R"/>
        <add key="BitFinex.secret" value="O2duuC8GirAeBXuMbCAzAf6X8cgCaP3GwtfIxlZQI92"/>
        <add key="BitFinex.pair" value="ETHBTC"/>
		
        <add key="Poloniex.geturl" value="https://poloniex.com/"/>
        <add key="Poloniex.key" value="L4KBLGP2nXO9QxTSxclTPcbaI"/>
        <add key="Poloniex.secret" value="f4IzjRfMNVxYTPvhBzwke8D77c"/>
        <add key="Poloniex.Pair" value="BTC_ETH"/>
	</appSettings>
</configuration>
