<?xml version="1.0" encoding="utf-8"?>
<configuration>
<appSettings>
        <add key="Mode" value="Runtime"/> <!-- different service mode History Test Runtime-->
        <add key="History.Interval" value="10"/> <!-- interval specified for history mode-->

        <add key="Runtime.Leverage" value="1" /> <!-- leverage  between 1 and 2.5-->
        <add key="Runtime.ThresholdGap" value="1.5"/> <!-- threshold for trigger the bot in %-->
        <add key="Runtime.Closegap" value="0.05"/> <!-- threashold to close position in % can be 0 if you want to wait for the cross-->
        <add key="Runtime.MaxPositionSize" value="1"/> <!--set the maximum position to avoid market influence-->
        
        <add key="Cex.io.geturl" value="https://cex.io/api/"/>
        <add key="Cex.io.NbCallPost" value="6000"/>
        <add key="Cex.io.PostInterval" value="1"/>
        <add key="Cex.io.key" value="xx"/>
        <add key="Cex.io.secret" value="xxx"/>
        <add key="Cex.io.Pair" value="ETH/BTC"/>
        <add key="Cex.io.PublicAddress" value=""/>
        
        <add key="BitFinex.geturl" value="https://api.bitfinex.com"/>
        <add key="BitFinex.posturl" value="https://api.bitfinex.com"/>
        <add key="BitFinex.NbCallPost" value="240"/>
        <add key="BitFinex.PostInterval" value="60"/>
        <add key="BitFinex.key" value="xxxx"/>
        <add key="BitFinex.secret" value="xxxx"/>
        <add key="BitFinex.pair" value="ETHBTC"/>
        <add key="BitFinex.PublicAddress" value="xxxxx"/>
        <add key="BitFinex.MinimumSize" value="0.01"/>

        <add key="Poloniex.geturl" value="https://poloniex.com/"/>
        <add key="Poloniex.posturl" value="https://poloniex.com/tradingApi"/>
        <add key="Poloniex.NbCallPost" value="6"/>
        <add key="Poloniex.PostInterval" value="1"/>
        <add key="Poloniex.key" value="xxxxxx"/>
        <add key="Poloniex.secret" value="xxxx"/>
        <add key="Poloniex.Pair" value="BTC_ETH"/>
        <add key="Poloniex.PublicAddress" value="xxxxx"/>
        <add key="Poloniex.MinimumSize" value="0.02"/>
        
    </appSettings>
</configuration>