<configuration>
<appSettings>
        <add key="Mode" value="Runtime"/> <!-- different service mode History Test Runtime-->
        <add key="History.Interval" value="10"/> <!-- interval specified for history mode-->

        <add key="Runtime.Leverage" value="1" /> <!-- leverage  between 1 and 2.5-->
        <add key="Runtime.ThresholdGap" value="1.0"/> <!-- threshold for trigger the bot in %-->
        <add key="Runtime.Closegap" value="0.05"/> <!-- threashold to close position in % can be 0 if you want to wait for the cross-->
        <add key="Runtime.MaxPositionSize" value="1"/> <!--set the maximum position to avoid market influence-->
        <add key="Runtime.BaseCurrency" value="BTC"/> <!-- base currency-->
        <add key="Runtime.LogTicks" value="true"/>
        
        <add key="BitFinex.geturl" value="https://api.bitfinex.com"/>
        <add key="BitFinex.posturl" value="https://api.bitfinex.com"/>
        <add key="BitFinex.NbCallPost" value="240"/>
        <add key="BitFinex.PostInterval" value="60"/>
         <add key="BitFinex.key" value="xxx"/>
        <add key="BitFinex.secret" value="xxx"/>
        <add key="BitFinex.QuoteCurrency" value="LTC,ETH,ETC,RRT,ZEC,XMR,DASH,XRP,IOTA,EOS,SAN,OMG,BCH,NEO,ETP,QTUM,AVT,EDO,BTG,DATA,QASH,YYW,GNT,SNT,BAT,MNA,FUN,ZRX,TNB,SPK,TRX,RCN,RLC,AID,SNG,REP,ELF,AION,IOST,REQ,RDN,LRC,BFT,CFI,WAX,AGI,MTN,ODEM,DAI"/> 
        <add key="BitFinex.MinimumSize" value="0.01"/>

        <add key="Poloniex.geturl" value="https://poloniex.com/"/>
        <add key="Poloniex.posturl" value="https://poloniex.com/tradingApi"/>
        <add key="Poloniex.NbCallPost" value="6"/>
        <add key="Poloniex.PostInterval" value="1"/>
        <add key="Poloniex.key" value="xxx"/>
        <add key="Poloniex.secret" value="xxx"/>
        <add key="Poloniex.QuoteCurrency" value="ETH,XRP,XMR,LTC,STR,DASH,DOGE,BTS,MAID,FCT,CLAM" />
        <add key="Poloniex.MinimumSize" value="0.02"/>
        
    </appSettings>
</configuration>